<!DOCTYPE html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>              
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12914585?query=java%20Kiev">Java Architect - Kiev</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12621332?query=java%20Kiev">Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">УкрСиббанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12814094?query=java%20Kiev">Senior Java Developer, Kyiv</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12814285?query=java%20Kiev">Java Architect - Kiev</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12813536?query=java%20Kiev">Senior Java Developer (Kiev)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12813690?query=java%20Kiev">Senior Java Developer, Kyiv</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12683705?query=java%20Kiev">Senior JAVA Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">УкрСиббанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12787185?query=java%20Kiev">Java Solution Architect</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12688767?query=java%20Kiev">Старший Java-разработчик</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12787168?query=java%20Kiev">Senior/Lead Java/Hybris Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12814503?query=java%20Kiev">UI Team Lead - Kiev</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12880158?query=java%20Kiev">CRM (Java) Developer, relocation to Prague</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">MERA Software Services d.o.o.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12808319?query=java%20Kiev">Senior Analyst - Kiev</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12604719?query=java%20Kiev">Java-разработчик</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">DATAS Technology</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12813382?query=java%20Kiev">Java Architect</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12820578?query=java%20Kiev">Java developer for SmartBear</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12817154?query=java%20Kiev">Java Developer for EFG</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12812513?query=java%20Kiev">Senior Java Developer/TL</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12813613?query=java%20Kiev">Middle Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12812960?query=java%20Kiev">Senior Java/Oracle Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12813256?query=java%20Kiev">Regular Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12813577?query=java%20Kiev">Senior GWT/Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12815289?query=java%20Kiev">Middle Java Developer</a></td> 
     <td class="city">Киев, Берестейская и еще 2</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12809628?query=java%20Kiev">Senior Java developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Smart Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12749324?query=java%20Kiev">Lead Java developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Intellectsoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12817254?query=java%20Kiev">Senior Java Developer for PayCash</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12813995?query=java%20Kiev">Senior Java Developer/Team Lead</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12763249?query=java%20Kiev">Java Senior Developer</a></td> 
     <td class="city">Санкт-Петербург, Горьковская</td> 
     <td class="companyName">Omnigon Communications, LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12803924?query=java%20Kiev">Senior Software Products Engineer (Java)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Astelit, TM life:)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12824741?query=java%20Kiev">QA Automation Engineer (Java/Groovy) for Kuoni</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12824812?query=java%20Kiev">Senior Java Developer for Ciklum New Client</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12738991?query=java%20Kiev">Java-разработчик</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">FIDOBANK</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12835260?query=java%20Kiev">Ведущий инженер-программист Java отдела разработки программного обеспечения</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Первый Украинский Международный банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12835249?query=java%20Kiev">Главный инженер-программист Java отдела разработки программного обеспечения</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Первый Украинский Международный банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12779628?query=java%20Kiev">Senior Java Developer for Zoomdata</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12807879?query=java%20Kiev">Trainer for conducting courses on Software Development, Java</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12762486?query=java%20Kiev">Senior Java Developer for GET</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12865332?query=java%20Kiev">Адміністратор системи cистемно-технічного відділу</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Астарта-Киев</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12501847?query=java%20Kiev">Android Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Room 8 Studio</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12905112?query=java%20Kiev">QA Team Lead</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Adyax</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12903286?query=java%20Kiev">Software Developer</a></td> 
     <td class="city">Киев, Позняки</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12468198?query=java%20Kiev">Java Developer (проект з інтеграції інформаційних систем)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Райффайзен Банк Аваль</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12580789?query=java%20Kiev">C++ Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12358767?query=java%20Kiev">QA Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12413595?query=java%20Kiev">Junior/middle QA Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12873072?query=java%20Kiev">Senior Test Engineer (QA Automation)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Innovecs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12873193?query=java%20Kiev">Software Engineer (Android)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Innovecs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12610780?query=java%20Kiev">Senior QA Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12610935?query=java%20Kiev">Junior C++ Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12611321?query=java%20Kiev">Middle QA Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12610965?query=java%20Kiev">Senior C++ Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12605519?query=java%20Kiev">Mobile Automation Test Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12892082?query=java%20Kiev">Senior Software Developer Integration and Maintenance</a></td> 
     <td class="city">Киев, Позняки</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12897331?query=java%20Kiev">Senior QA Engineer for EFG</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12895259?query=java%20Kiev">Senior QA Engineer for EFG</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12316000?query=java%20Kiev">Continuous Integration Engineer - [EA-CI]</a></td> 
     <td class="city">Киев, Позняки</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12892127?query=java%20Kiev">Senior Software Developer Core Development</a></td> 
     <td class="city">Киев, Позняки</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12497121?query=java%20Kiev">Architect(Senior) - Hadoop [EA- Hadoop]</a></td> 
     <td class="city">Киев, Позняки</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12580852?query=java%20Kiev">Software Developer - Hadoop [EA- Hadoop]</a></td> 
     <td class="city">Киев, Позняки</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12771982?query=java%20Kiev">Руководитель отдела тестирования</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">FIX</td> 
     <td class="salary">от 1&nbsp;200 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12885402?query=java%20Kiev">Middle C++ Developer for Harmonic project</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12878385?query=java%20Kiev">Middle C/C++ Embedded Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12880915?query=java%20Kiev">Back-end developer server-side / Ведущий специалист по разработке ПО</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Quokka</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12884064?query=java%20Kiev">PSO Consultant for BMC project</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12356256?query=java%20Kiev">Разработчик программного обеспечения (Oracle SQL, PL/SQL)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ПРАВЭКС-БАНК, ГРУППА INTESA SANPAOLO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12883030?query=java%20Kiev">Middle Software Developer</a></td> 
     <td class="city">Киев, Позняки</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12843059?query=java%20Kiev">Middle Android developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">DevelopEX</td> 
     <td class="salary">до 3&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12879141?query=java%20Kiev">Senior ATG Developer for Ciklum New Client</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12863771?query=java%20Kiev">Embedded Software Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">АНКОР, кадровый холдинг</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12866233?query=java%20Kiev">Web Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">3Shape Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12866176?query=java%20Kiev">Senior Software Developer</a></td> 
     <td class="city">Киев, Позняки</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12435250?query=java%20Kiev">Android Lead Developer</a></td> 
     <td class="city">Санкт-Петербург, Горьковская</td> 
     <td class="companyName">Omnigon Communications, LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12843593?query=java%20Kiev">Senior Android Developer for Leverate</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12834396?query=java%20Kiev">Leading Customer Relation Management Platforms Administration Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Astelit, TM life:)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12842372?query=java%20Kiev">Support/Maintenance Engineer for Zoomdata</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12856706?query=java%20Kiev">Android / iOS Developer to New York</a></td> 
     <td class="city">США</td> 
     <td class="companyName">Omnigon Communications, LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12856707?query=java%20Kiev">Android / iOS Developer to New York</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Omnigon Communications, LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12704562?query=java%20Kiev">Специалист отдела электронной коммуникации</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Смарт-Холдинг</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12817572?query=java%20Kiev">Senior Analyst</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12817515?query=java%20Kiev">UI Designer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12816505?query=java%20Kiev">Android Developer for Ciklum Interactive Solutions</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12817458?query=java%20Kiev">Team Lead Fullstack Developer for QualiSystems</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12809413?query=java%20Kiev">Senior QA</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12813622?query=java%20Kiev">DevOps Engineer/Library Developer for QualiSystems</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12817168?query=java%20Kiev">Senior Web JEE Developer for Kuoni</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12820530?query=java%20Kiev">JavaScript Developer for Zoomdata</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12817364?query=java%20Kiev">Front End Developer for QualiSystems</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12817215?query=java%20Kiev">Back End Oracle Developer for Mobile Entertainment GmbH</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12812756?query=java%20Kiev">Front End Team Leader for QualiSystems</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12815963?query=java%20Kiev">Solution Architect for Ciklum</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12802640?query=java%20Kiev">Senior .NET Developer with strong skills in web technologies for ScanJour</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12749316?query=java%20Kiev">Android developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Intellectsoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12748769?query=java%20Kiev">Middle-Senior Android developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Beetroot Resources</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12781632?query=java%20Kiev">Automation specialist (Czech Republic)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ОАО ArcelorMittal</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12715440?query=java%20Kiev">C++/OpenGL developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12779680?query=java%20Kiev">Android Developer for MusicQubed</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12646025?query=java%20Kiev">Customer Support Expert</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">B2B Soft Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12557698?query=java%20Kiev">Senior Test engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12557679?query=java%20Kiev">Senior QA automation</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12559072?query=java%20Kiev">UI Designer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12544421?query=java%20Kiev">Senior Test Automation Engineer</a></td> 
     <td class="city">Киев, Лукьяновская</td> 
     <td class="companyName">Itera Consulting Group Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12558967?query=java%20Kiev">Senior iOS Automation Test Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/11621517?query=java%20Kiev">Android Senior Developer</a></td> 
     <td class="city">Санкт-Петербург, Горьковская</td> 
     <td class="companyName">Omnigon Communications, LLC</td> 
     <td class="salary">2&nbsp;000-3&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12158835?query=java%20Kiev">IBM Websphere Message Broker Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Райффайзен Банк Аваль</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12558034?query=java%20Kiev">Test Manager</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12699071?query=java%20Kiev">PHP-разработчик</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">oll.tv</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12730909?query=java%20Kiev">Web JEE Developer for Kuoni</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12492290?query=java%20Kiev">Test Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Райффайзен Банк Аваль</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12578225?query=java%20Kiev">Web-програміст</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Райффайзен Банк Аваль</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12694587?query=java%20Kiev">Senior/Middle Mobile developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Smart Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12718513?query=java%20Kiev">Development Expert (SAP Complex Assembly Manufacturing solution)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">SAP CIS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12291120?query=java%20Kiev">Middle-Senior Android developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Beetroot Resources</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12708780?query=java%20Kiev">Automation QA Engineer for Ciklum New Client</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12885252?query=java%20Kiev">Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12781601?query=java%20Kiev">Провідний програміст (Senior software developer – Java/Oracle ADF)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Гос. корп. Информационно-ресурсный центр</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12470709?query=java%20Kiev">Водитель такси на своем автомобиле в Киеве</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Такси ЗЕФИР</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12468806?query=java%20Kiev">Преподаватель курсов программирования Java, Python</a></td> 
     <td class="city">Киев, Политехнический институт</td> 
     <td class="companyName">Перспектива - XXI век, Учебный центр</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12880777?query=java%20Kiev">Java-developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Dukascopy Bank SA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12843062?query=java%20Kiev">Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО CustomerTimes</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12847291?query=java%20Kiev">Senior Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО ControlPay</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12848668?query=java%20Kiev">QA Automation Tutor (Java)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GoIT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12842947?query=java%20Kiev">Senior Java Developer (jBPM)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Livatek</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12537829?query=java%20Kiev">Водитель со своим автомобилем в такси Киева и Броваров</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">KAVALER-Taxi</td> 
     <td class="salary">5&nbsp;000-14&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12703991?query=java%20Kiev">Senior Java Developer (Google Web Toolkit)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Livatek</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12703251?query=java%20Kiev">E-commerce manager (Web-manager)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Центральний офіс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12776218?query=java%20Kiev">Software Engineer (Java)</a></td> 
     <td class="city">Киев, Дворец "Украина"</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12767358?query=java%20Kiev">Senior Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/10415593?query=java%20Kiev">Java программист/архитектор</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Софтиндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12755831?query=java%20Kiev">Java Script разработчик (JS developer)</a></td> 
     <td class="city">Киев, Площадь Льва Толстого</td> 
     <td class="companyName">Paymentwall, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12707698?query=java%20Kiev">Senior Java Developer/ Java Tech Lead</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Таймкод</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12508718?query=java%20Kiev">Senior Java Programmer</a></td> 
     <td class="city">Киев, Контрактовая площадь</td> 
     <td class="companyName">Persha Studia</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12909286?query=java%20Kiev">Integration Architect</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">IBM Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12909273?query=java%20Kiev">Architect Lead</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">IBM Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12747172?query=java%20Kiev">Middle Java-разработчик для задач VoIP-сервера</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО Epsy Soft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12561474?query=java%20Kiev">Водитель такси (со своим авто)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Топ Такси</td> 
     <td class="salary">8&nbsp;000-15&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12714105?query=java%20Kiev">Software Engineer (Java) for a UK company</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Skein</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/11816386?query=java%20Kiev">PHP-разработчик</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Webmasters Forge Ltd.</td> 
     <td class="salary">1&nbsp;500-1&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12899715?query=java%20Kiev">MySQL DBA</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">TubeMogul, Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12898237?query=java%20Kiev">IT рекрутер</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">PM Media</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12707726?query=java%20Kiev">Front-end Developer (Senior/Lead)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Таймкод</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12905070?query=java%20Kiev">QA Team Lead</a></td> 
     <td class="city">Житомир</td> 
     <td class="companyName">Adyax</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12905054?query=java%20Kiev">Qa engineer</a></td> 
     <td class="city">Житомир</td> 
     <td class="companyName">Adyax</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12885199?query=java%20Kiev">Software Developer (Middle or Senior)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">NATEK</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12759213?query=java%20Kiev">Водитель со своим автомобилем</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ИП Дячишин В.И. (КВН-ТАКСИ)</td> 
     <td class="salary">7&nbsp;000-10&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12072677?query=java%20Kiev">Водитель с любым авто(4х дверн)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Авангард, такси</td> 
     <td class="salary">5&nbsp;700-7&nbsp;500 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12876676?query=java%20Kiev">Senior JavaScript developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Softheme</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12833800?query=java%20Kiev">Software Engineer Web Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Школа риторики й ораторства Ірини Снітинської АҐРУС</td> 
     <td class="salary">1&nbsp;200-1&nbsp;800 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12879662?query=java%20Kiev">Android Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Юнисистем</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12880438?query=java%20Kiev">QA Automation Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Govitall</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/11900970?query=java%20Kiev">Водитель такси</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Авангард, такси</td> 
     <td class="salary">3&nbsp;500-5&nbsp;700 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12874707?query=java%20Kiev">Senior Software Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Пономаренко Ю.Л., ФЛП</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12872695?query=java%20Kiev">Lead Server Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Twin Win Games</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12507670?query=java%20Kiev">Разработчик ABAP</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">BrigRetail</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12872545?query=java%20Kiev">Quality Assurance Specialist (Middle or Senior)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">NATEK</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12867839?query=java%20Kiev">Senior Software Developer</a></td> 
     <td class="city">Киев, Позняки</td> 
     <td class="companyName">IT Genius</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12781547?query=java%20Kiev">Начальник відділу (System Architect, Team lead)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Гос. корп. Информационно-ресурсный центр</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12862607?query=java%20Kiev">Junior SFDC Developer courses trainee</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО CustomerTimes</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12843386?query=java%20Kiev">Product owner</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Depositphotos</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12844098?query=java%20Kiev">Адміністратор ОДБ</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">КРЕДИТВЕСТ БАНК, ПАТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12853302?query=java%20Kiev">Flex Architect Consultant</a></td> 
     <td class="city">Киев, Нивки</td> 
     <td class="companyName">СМК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12853187?query=java%20Kiev">Senior Flex Software Engineer</a></td> 
     <td class="city">Киев, Нивки</td> 
     <td class="companyName">СМК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12686977?query=java%20Kiev">Flex Software Engineer</a></td> 
     <td class="city">Киев, Нивки</td> 
     <td class="companyName">СМК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12509980?query=java%20Kiev">Водитель со своим автомобилем</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">FLY TAXI</td> 
     <td class="salary">от 5&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12832998?query=java%20Kiev">WEB Penetration Tester</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Samsung Electronics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12807146?query=java%20Kiev">Senior ASP.NET MVC Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Pixabit Solutions GmbH</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12747678?query=java%20Kiev">Linux Administrator</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ameria</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12824441?query=java%20Kiev">Senior QA/QC Engineer</a></td> 
     <td class="city">Киев, Майдан Независимости</td> 
     <td class="companyName">Ignite Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12625000?query=java%20Kiev">Преподаватель по курсу «Adobe Flash».</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Basic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12804487?query=java%20Kiev">J2EE Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО CIP</td> 
     <td class="salary">4&nbsp;000-6&nbsp;100 EUR</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12570152?query=java%20Kiev">Senior Android developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Grossum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12624849?query=java%20Kiev">Преподаватель по курсу «Php - программирование».</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Basic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12799965?query=java%20Kiev">Преподаватель по курсу «JavaScript, JQuery на примерах»</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Basic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12771959?query=java%20Kiev">Continuous Integration Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Пономаренко Ю.Л., ФЛП</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12695505?query=java%20Kiev">Web-разработчик</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Abweb</td> 
     <td class="salary">7&nbsp;000-12&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12200408?query=java%20Kiev">Senior С++Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Codeminders</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12536938?query=java%20Kiev">Flash-разработчик (видео-стриминг)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Webmasters Forge Ltd.</td> 
     <td class="salary">от 1&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12767403?query=java%20Kiev">Business Analyst (Engineering)</a></td> 
     <td class="city">Киев, Дворец "Украина"</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12705411?query=java%20Kiev">Android-разработчик</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Кайс Медиа</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12510920?query=java%20Kiev">Architect (Senior) - Hadoop</a></td> 
     <td class="city">Киев, Позняки</td> 
     <td class="companyName">IT Genius</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12709357?query=java%20Kiev">Начальник отдела разработки ПО</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Региональная газовая компания</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12697354?query=java%20Kiev">Senior DevOps Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Zoral Labs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12713206?query=java%20Kiev">Android Developer</a></td> 
     <td class="city">Киев, Позняки</td> 
     <td class="companyName">IT Genius</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12725576?query=java%20Kiev">Team Lead QA automation</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">PM Media</td> 
     <td class="salary">3&nbsp;000-3&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12507831?query=java%20Kiev">Technical consultant (bankcard management systems)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Capsys</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12571921?query=java%20Kiev">Web-master</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Левел ап</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>